<form [formGroup]="phoneContact">
  <div class="form-row">
    <div class="col-md-6">
      <div class="form-group">
        <input placeholder="First Name" [(ngModel)]="service.phoneContact.firstName" class="form-control" formControlName="firstName" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input placeholder="Last Name"  [(ngModel)]="service.phoneContact.lastName" class="form-control" formControlName="lastName" />
      </div>
    </div>
  </div>
  <div class="form-group">
    <input placeholder="Phone Number" [(ngModel)]="service.phoneContact.phoneNumber"  class="form-control" type="number"   formControlName="phoneNumber" />
  </div>
  <div class="form-group">
    <button class="btn btn-success btn-lg btn-block" (click)="addPhoneContact()"  type="submit" [disabled] = "phoneContact.invalid">
      Submit
    </button>
  </div>
</form>
